.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.headerset {
    /* padding-top: 250px; */
    padding-top: -25px;
    box-sizing: border-box;
}

.headerset h2 {
    font-size: 42px;
}

.headerset h1 {
    font-size: 82px;
    font-weight: bold;
}

.custom-carousel {
    width:100%;
    max-height: 500px !important; 
}

.div_below_carousel {
    margin-left: 142px;
    padding: 10px auto;
}

.featured {
    width: 63%;
    font-size: small;
    margin-left: 20%;
    margin-bottom: 20px;
}

.product-overview {
    margin-top: 30px;    
    background-repeat: no-repeat;
    padding-left: 10%;
    padding-bottom: 30px;
}

.days-card {
    /* padding-left: 18px; */
}

.div-days {
    width: 44px;
    height: 64px;
    margin-right: 10px;
    
}

.size-span {
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 8px;
}

.insta-bg {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.k_g44FvIGu3ku1oPzGZVOAHaGL%26pid%3DApi&f=1");
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
}

.bestseller {
    padding-left: 10%;
}

.cart-align {
    /* margin-left: 10px; */
}

.footer {
    
}